body {
    background: #fff url(images/bg-body.png) repeat-x;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: helvetica, sans-serif;
	font-size: small;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#container {
	width: 700px;
	margin: auto;
}

#header {
	background: url(images/bg-header.png) no-repeat top left;
	height: 146px;
}

#info {
	position: relative;
	top: 120px;
	float: right;
	color: #fff;
	font-size: x-small;
}

#bar {
	float: left;
	width: 200px;
	text-align: left;
	margin-top: 25px;
}

#main {
	float: left;
	width: 445px;
	margin-left: 20px;
	text-align: left;
	margin-top: 25px;
}

#nav {
	margin: 0;
	padding: 0;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	font: normal 1.1em/1em 'lucida grande',tahoma,sans-serif;
	margin-bottom: 20px;
}

#nav strong {
	color: #1f4b83;
	border-bottom: 1px solid #3465a4;
	font-weight: bold;
	display: block;
	padding: 4px;
}

#nav li li {
	margin: 0;
}

#nav li li a {
	padding: .05em;
	padding-left: 10px;
	font-size: .8em;
	line-height: 1.1em;
	font-weight: normal;
	color: #333;
	background: url(images/nav-bullet.png) left center no-repeat;
}

#nav li a:hover {
	text-decoration: underline;
	color: #3465a4;
	background: url(images/nav-bullet-selected.png) left center no-repeat;
}

#nav li li a:hover {
	text-decoration: underline;
	color: #3465a4;
	background: url(images/nav-bullet-selected.png) left center no-repeat;
}

#nav li li a.selected {
	text-decoration: none;
	background: url(images/nav-bullet-selected.png) left center no-repeat;
	font-weight: bold;
}

#footer {
	border-top: 1px solid #ddd;
	font-size: .9em;
	color: #666;
	text-align: left;
	margin-top: 20px;
	padding: 20px;
}

h1, h2, h3 {
	letter-spacing: -1px;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

h1 {
	color: #c00;
	margin-bottom: 20px;
}

h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #1f4b83;
}

.pretty-table {
	padding: 4px;
	padding-bottom:0;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-bottom: 10px;
}
                                                                                                                                       
.pretty-table th {
	text-align: left;
	font-weight: bold;
	background: #3465a4;
	color: #fff;
	border: 1px solid #1f4b83;
	border-bottom: 3px solid #c00;
	padding: 4px;
	padding-right: 8px;
}                                                                                                                                        
                                                                                                                                       
.pretty-table td {
	padding: 4px;
	color: #000;
	vertical-align: top;
	border: 1px solid #ddd;
	padding-right: 20px;
}

.pretty-table tr:hover > td {
	background-color: #ffe;
}

form {
    margin:0;
    padding:0;
}

input, button {
	background-color:#fff;
	color: #555;
	padding: 2px;
}

button, input[type="button"], input[type="submit"]  {
        background-color: #efefef;
        color: #666;
        border: 1px solid #999;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        font-weight: bold;
        margin-left: 2px;
        margin-right: 2px;
}

                                                                                                                                                             
button:hover, input[type="button"]:hover, input[type="submit"]:hover  {
        background-color: #3465a4;
        color: #fff;
}
                                                                                                                                                             
button:active, input[type="button"]:active, input[type="submit"]:active {
        background-color: #fff;
        color: #000;
		border: 1px solid #3465a4;
}



input[type="text"], input[type="password"], textarea { 
	color: #333;
	background-color: #fff;
	border: 1px solid #ddd;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
	padding:3px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus	{ 
	color: #000;
	background-color: #ffe; 
	border: 1px solid #3465a4;
}

textarea {
	width: inherit;
}

fieldset {
	border: 1px solid #ddd;
	padding: 1em;
}

legend {
	font-weight: bold;
	font-size: 1.2em;
	padding: 4px;
	color: #c00;
}

input[type="checkbox"], select
{
        -moz-border-top-colors: #999 transparent;
        -moz-border-left-colors:#999 transparent;
        -moz-border-bottom-colors: #ddd transparent;
        -moz-border-right-colors: #ddd transparent; 
        -moz-border-radius: 1px;
		padding: 1px;
}

input[type="checkbox"]:focus
{ 
        -moz-border-top-colors: #3465a4 transparent;
        -moz-border-left-colors:#3465a4 transparent;
        -moz-border-bottom-colors: #3465a4 transparent;
        -moz-border-right-colors: #3465a4 transparent; 
}

fieldset table {
	width: 100%;
}

fieldset table td {
	vertical-align: top;
}