# Icons
#
icons!default = unknown.png
icons!directory = folder.png
icons!parent_directory = back.png

Icons!file!core = core
icons!file!*README* = readme.png

icons!suffix!text.png = txt,text
icons!suffix!image.png = jpg,jpeg,jpe,png,gif,xcf,bmp,pcx,tiff,tif,cdr,psd,xpm,xbm
icons!suffix!sound.png = au,snd,mid,midi,kar,mpga,mpega,mp2,mp3,m3u,sid,wav,aif,aiff,aifc,gsm,m3u,wma,wax,ra,rm,ram,pls,sd2,ogg
icons!suffix!movie.png = avi,ogg
icons!suffix!compressed.png = tar,gz,bz2,zip,rar,ace,lha,Z
icons!suffix!binary.png = bin,exe,com,msi
icons!suffix!script.png = sh,csh,ksh,tcl,tk,py,pl,php
icons!suffix!tex.png = tex,latex,ltx,sty,cls
icons!suffix!ps.png = ps,eps,ai
icons!suffix!pdf.png = pdf
icons!suffix!iso.png = iso,ngr,cue
icons!suffix!java.png = java,class,jar
