html {
 background-color: #cfd9e8;
 height:100%;
}

body {
 min-width: 960px;
 font-family: helvetica, arial, sans-serif;
 font-size: small;
 text-align: center;
 background-color: #cfd9e8;
 height:100%;
}

html>body #container, 
html>body #container-nobar {
 overflow: auto;
 min-height: 100%;
}

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
 visibility: hidden;
 display: block;
 font-size: 0;
 content: " ";
 clear: both;
 height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
* .clearfix { display: block; }
*/* close commented backslash hack */


a { color: #2d5e9a; }
a:hover { color: #164987; }

.center { text-align: center; }

#container {
 background: #cfd9e8 url(../images/background.png) center top repeat-y;
}

#container-nobar {
 background: #cfd9e8 url(../images/background-nobar.png) center top repeat-y;
}

#container, #container-nobar {
 width: 960px;
 min-width: 960px;
 margin: 0 auto;
 text-align: center;
}


#header {
 width: 960px;
 background: transparent url(../images/top-bar.png) left top no-repeat;
 height: 48px;
 text-align: left;
}

#footer {
 background: #cfd9e8 url(../images/background.png) center bottom repeat-y;
 margin: 0 auto;
 width: 960px;
 font-size: 80%;
 color: #aaa;
 text-align: right;
}

#footer-inner {
 text-align: right;
 padding: 16px;
}

#bar {
 float: left;
 width:200px;
 text-align: left;
}

#workarea {
 float: right;
 width: 760px;
 min-height: 550px;
 text-align: left;
 height:100%;
}

#container-nobar #workarea {
 width: 90%;
 margin: 0 auto;
 float: none;
}

#workarea-inner {
 padding: 16px;
}

#body-status #workarea-inner {
 padding: 16px 32px;
}

#save_changes_msg {
 display: none;
 padding: 15px 10px;
 margin: 0px 0px 5px;
 background-color: #e9ffd4; /* #ffc7c7 : red==warning */
 color: #000;
 border-top: 1px solid #0b0;
 border-bottom: 1px solid #0b0;
 font-weight: bold;
 text-align: center;
}

#nav {
}

#nav li {
 font-size: 12px;
 height: 32px;
 min-height: 32px;
 background: transparent url(../images/menu-sep.png) left bottom no-repeat;
}

#nav li a {
 height: 32px;
 padding-left: 16px;
 padding-top: 8px;
 display: block;
 color: #204a87;
 text-decoration: none;
}

#nav li:hover {
 background: transparent url(../images/menu-highlight.png) left top no-repeat;
}

#body-status #status,
#body-general #general,
#body-vserver #vserver,
#body-vservers #vserver,
#body-source #source,
#body-icon #icon,
#body-mime #mime,
#body-advanced #advanced
{
 background: transparent url(../images/menu-active.png) left top no-repeat;
 font-weight: bold;
}

#logo {
 height: 48px;
 padding-left: 16px;
 z-index: 100;
 position: absolute;
}

#version {
 font-size: 80%;
 color: #4475b4;
 padding-left: 8px; 
 position: absolute;
 padding-left: 174px;
 top: 27px;
}


h1 {
 color: #c00;
 font-weight: normal;
 font-size: 150%;
 margin-bottom: 0.5em;
}

h2 {
 color: #204a87;
 font-weight: normal;
 font-size: 120%;
}

h3 {
 color: #666;
 font-size: 100%;
 font-weight: bold;
 margin: 0.4em 0;
}

p {
 line-height: 1.1em;
 margin: 0 0 0.6em 0;
}

table td {
 padding: 0.2em;
}

table td label {
 float: right;
}

.error {
 color: #CC0000;
}

/** CHANGES **/
#changes_div {
 padding: 16px;
}

#change_language {
}

#change_language div {
}

.label_lang {
 color: #204a87;
}

#language {
 width: 100%;
}

/** HELP **/
#help-area {

}

#help {
 z-index: 100;
 position: absolute;
 width: 744px;
 margin-left: 200px;
 top: 26px;
 font-size: 85%;
 color: #fff;
}

#help ul {
   float: right;
   z-index: 100;
}


#help li.htop {
 text-align: right;
 height: 22px;
}

#help li.htop span {
 color: #fff;
 text-decoration: none;
 height: 32px;
 padding: 8px;
}

#help ul:hover li.htop span {
 background-color: #4475b4;
   padding: 8px;
}

#help li.hitem {
   width: 11em;
   color: #204a87;
   background-color: #e9eef4;
   border-collapse: collapse;
   border: 1px solid #a9c0dc;
   border-top: 1px solid #fff;
   padding: 8px;
   display: none;
}

#help ul:hover li.hitem {
   display: block;
}

  
#help li.hitem:hover {
   background-color: #e2e9f1;
}

#help li.hitem a {
   display: block;
   color: #204a87;
   text-decoration: none;
}


#help-contents {
 background: #f3f7fc url(../images/help.png) 4px 4px no-repeat;
 border-top: 1px solid #bacce2;
 border-bottom: 1px solid #bacce2;
 display: none;
 padding: 1em 1em 1em 40px;
 margin-bottom: 1em;
}
/** INFO **/
.dialog-information {
 background: #f9fcff url(../images/dialog-information.png) 4px 4px no-repeat;
 border-top: 1px solid #d4e1f1;
 border-bottom: 1px solid #d4e1f1;
 padding: 1em 1em 1em 40px;
 margin: 1em 0;
}
.dialog-important-information {
 background: #e9ffd4 url(../images/dialog-information.png) 4px 4px no-repeat;
 border-top: 1px solid #73d216;
 border-bottom: 1px solid #73d216;
 padding: 1em 1em 1em 40px;
 margin: 1em 0;
}
/** WARNING **/
.dialog-warning {
 background: #fbf7da url(../images/dialog-warning.png) 4px 4px no-repeat;
 border-top: 1px solid #edd400;
 border-bottom: 1px solid #edd400;
 padding: 1em 1em 1em 40px;
 margin: 1em 0;
}
/** ERROR **/
.dialog-error {
 background: #ffe7e7 url(../images/dialog-error.png) 4px 4px no-repeat;
 border-top: 1px solid #c00;
 border-bottom: 1px solid #c00;
 padding: 1em 1em 1em 40px;
 margin: 1em 0;
}
/** OFFLINE **/
.dialog-offline {
 background: #fbf7da url(../images/offline.png) 4px 4px no-repeat;
 border-top: 1px solid #edd400;
 border-bottom: 1px solid #edd400;
 padding: 1em 1em 1em 80px;
 margin: 1em 0;
 overflow: auto;
}
/** ONLINE **/
.dialog-online {
 background: #e9ffd4 url(../images/online.png) 4px 4px no-repeat;
 border-top: 1px solid #73d216;
 border-bottom: 1px solid #73d216;
 padding: 1em 1em 1em 80px;
 margin: 1em 0;
 overflow: auto;
}

.dialog-information h2,
.dialog-warning h2,
.dialog-error h2
{
 margin: 0 0 0.3em 0;
 padding: 0;
 font-size: 100%;
 font-weight: bold;
 letter-spacing: 1px;
 color: #000;
}

/* ERROR PAGE */
.error-page {
 padding: 8px 16px 8px 64px;
 margin: 16px 0;
 min-height: 60px;
 background: #fbf7da url(../images/offline.png) 8px 8px no-repeat;
 border-radius: 4px;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 border: 1px solid #edd400;
}

.error-title {
 color: #c00;
 font-weight: normal;
 font-size: 150%;
}

.error-reason {
 font-weight: bold;
 margin-bottom: 1em;
}

.error-suggestion {
 margin: 0.5em 0;
}

.error-description {
 margin: 0.5em 0;
}

.error-debug {
 padding: 1em;
 background: #dddddd;
 white-space: pre;
 font-family: monospace;
 margin: 1em 0;
 overflow-x: auto;
}

.error-backtrace {
 padding: 1em;
 background: #efeac7;
 white-space: pre;
 font-family: monospace;
 margin: 1em 0;
 overflow-x: auto;
}

.error-page code {
 background: #efeac7;
 white-space: pre;
 font-family: monospace;
 padding: 2px;
 font-size: 110%;
}


.error-datetime {
 text-align: right;
 color: #c3ba7b;
}

/* TABS */
.ui-tabs-hide { display: none; }

.ui-tabs-nav {
 list-style: none;
 margin: 0;
 padding: 0 0 0 4px;
}

.ui-tabs-nav:after {
 display: block;
 clear: both;
 content: " ";
}

.ui-tabs-nav li {
 float: left;
 margin: 0 0 0 2px;
 min-width: 84px; /* be nice to Opera */
}

.ui-tabs-nav a, .ui-tabs-nav a span {
 display: block;
 padding: 0 10px;
 background: url(../images/tab.png) no-repeat;
}
.ui-tabs-nav li a {
 position: relative;
 top: 1px;
 z-index: 5;
 padding-left: 0;
 color: #27537a;
 color: #7695bc;
 line-height: 1.2;
 font-size: 90%;
 text-align: center;
 text-decoration: none;
 white-space: nowrap; /* required in IE 6 */
 font-weight: bold;
}
.ui-tabs-nav .ui-tabs-selected a {
 color: #000;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
 background-position: 100% -150px;
 outline: 0; /* prevent dotted border in Firefox */
}
.ui-tabs-nav a, .ui-tabs-nav .tabs-disabled a:hover, .ui-tabs-nav .tabs-disabled a:focus, .ui-tabs-nav .tabs-disabled a:active {
 background-position: 100% -100px;
}
.ui-tabs-nav a span {
 width: 64px; /* IE 6 treats width as min-width */
 min-width: 64px;
 height: 18px; /* IE 6 treats height as min-height */
 min-height: 18px;
 padding-top: 6px;
 padding-right: 0;
}
*>.ui-tabs-nav a span { /* hide from IE 6 */
 width: auto;
 height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
 padding-top: 6px;
 padding-bottom: 1px;
 /*border-bottom: 1px solid #fff;*/
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
 background-position: 0 -50px;
}
.ui-tabs-nav a span, .ui-tabs-nav .tabs-disabled a:hover span, .ui-tabs-nav .tabs-disabled a:focus span, .ui-tabs-nav .tabs-disabled a:active span {
 background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .tabs-disabled a:link, .ui-tabs-nav .tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
 cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active { /* @ Opera, we need to be explicit again here now... */
 cursor: pointer;
}
.ui-tabs-nav .tabs-disabled {
 opacity: .4;
}
.ui-tabs-panel {
 border-top: 1px solid #bacce2;
 padding: 16px 14px;
 background: #fff; 
}

.ui-tabs-panel a { 
   font-weight: normal;
   color: #2d5e9a; 
   background: transparent;
}
.ui-tabs-panel a:hover { color: #164987; }

.tabs-loading em {
 padding: 0 0 0 20px;
 background: url(../images/loadingAnimation.gif) no-repeat 0 50%;
}

.cbtoggletext {
 cursor: default;
}

/* BUTTON */

a.button {
 background: transparent url('../images/button-right.png') no-repeat scroll top right;
 color: #486991;
 display: block;
 float: left;
 font: normal 12px arial, sans-serif;
 height: 24px;
 overflow: hidden;
 margin-right: 6px;
 padding-right: 18px;
 text-decoration: none;
}

a.button span {
 background: transparent url('../images/button-left.png') no-repeat;
 display: block;
 line-height: 14px;
 padding: 5px 0 5px 18px;
}

a.button:active {
 background-position: bottom right;
 color: #122c4d;
 outline: none;
}

a.button:active span {
 background-position: bottom left;
 padding: 6px 0 4px 18px;
}

.indented {
 margin-left: 20px;
 margin-top: 8px;
 margin-bottom: 16px;
}

.help_p {
 margin-left: 15px;
 text-align: justify;
}

.tDnD_whileDrag {
  background-color:#ECF6FC;
  font-weight: bold;
}

.dragHandle {
 width: 18px;
 cursor: move;
 background: transparent url('../images/arrow_ns.png') center center no-repeat;
}

.dragHandleH {
 background: transparent url('../images/arrow_ns_h.png') center center no-repeat;
}

table tr {
  vertical-align: top;
}

table tr th {
  font-weight: bold;
}

.rulesdiv {
  margin: 8px 0 16px 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #d4e1f1;
  background: #f9fcff;
  padding: 4px 4px 28px 4px;
}

.rulesdiv .rulesbutton {
  background: #d4e1f1;
  margin: 4px 4px 4px 8px;
  padding: 2px 8px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #d4e1f1;
  float: right;
}

.rulesbutton a {
  font-size: 11px;
  padding: 0;
  color: #7695bc;
  text-decoration: none;
}

.rulesbutton a:hover {
  cursor: pointer;
}

.rulestable {
  width: 100%;
  border: 1px solid #d4e1f1;
  background: #fff;
}

.rulestable td a {
  text-decoration: none;
}

.rulestable th {
  background: transparent url(../images/rulestable-th.png) repeat-x;
  border-bottom: 1px solid #ced9ea;
  border-right: 1px solid #d4e1f1;
  padding: 2px 4px;
  color: #204a87;
}

.rulessection {
  margin-top: 8px;
  border: 1px solid #d4e1f1;
  padding: 8px;
  background: #fff;
}

#wizardsection { 
 display: none; 
 padding: 0; 
 border: 0;
 background: #f9fcff;
}
#clonesection { display: none; }
#newsection { display: none; }

#wizardsection h2 { padding: 8px; }

.wizOdd {
 background-color: #f9fcff;
}

#wizSel {
 width: 100%;
 font-size: small;
 border-collapse: collapse;
 margin: 0;
 text-align: left;
}

#wizSel td {
 background: #fff;
 border: 1px solid #d4e1f1;
 padding: 0;
}

#wizSelCat {
 font-size: 200%;
 text-align: center;
 padding: 2em 1em;
 color: #e5ebf4;
}

#wizG { width: 33%; }
#wizL { width: 67%; }

#wizardsection ul {
 width: 100%;
 height: 200px;
 overflow: auto;
 font-size: 95%;
 margin-right: 8px;
}

#wizardsection li {
 padding: 4px 8px;
 margin: 0;
 float: none;
}

#wizG li:hover {
 background: #e5ebf4;
 background-repeat: no-repeat;
 background-position: 4px 4px;
 cursor: pointer;
}

.wizInfo {
 background-repeat: no-repeat;
 background-position: 4px 4px;
 padding-left: 60px;
 text-align: left;
 border-bottom: 1px solid #e5ebf4;
}

.wizSelected {
 background: #e5ebf4;
 font-weight: bold;
}

.wizTitle {
 padding: 8px 0px 0px 4px;
 font-weight: bold;
 font-size: 110%;
 color: #000;
}

.wizDesc {
 padding-left: 4px;
 font-size: 85%;
 color: #999;
}

.wizBut {
 padding: 8px;
 text-align: right;
 font-size: 85%;
}

#mimetable {
  width: 680px;
  height: 400px;
  overflow: auto;
  _font-size: x-small;
}

.tableprop {
  width: 100%;
  border-collapse: collapse;
}

.tableprop tr th {
  vertical-align:  middle;
  width:  160px;
}

.tableprop .comment {
  color: #999;
  font-size: 85%;
  margin-right: 20px;
}

.comment a {
 display: inline;
 font-size: 100%;
 top: 0;
 padding: 0;
}

.tableprop .title {
  font-weight: bold;
}

.tableprop_block {
  margin-bottom: 16px;
}

.tableprop_block hr, hr {
  background: #d4e1f1;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
  text-align: left;
}


/* Alternate row color in rule list */
table.rulestable tr td {
  padding: 2px 4px;
  border-right: 1px solid #d4e1f1;
  background-color: #f9fcff;
}
table.rulestable tr.odd td {
  background-color: #fff;
}

/**************************/
/* PageVServers.py styles */
/**************************/
#new_vserver_name,
#vserver_clone_src {
  width: 150px;
}

#new_vserver_droot,
#vserver_clone_trg {
  width: 340px;
}

/**************************/
/* PageVServer.py styles */
/**************************/

.rule_group {
  border-radius: 10px;
  -moz-border-radius: 10px;
 -webkit-border-radius: 10px;

 padding: 10px 8px;
 border: #aaa 1px solid;
}

.rule_group_1 {
 margin-top: 15px;
}

.rule_group_1, .rule_group_3, .rule_group_5, .rule_group_7, .rule_group_9 {
 background-color: #EFF4F7;
 border: #aaa 1px solid;
}

.rule_group_2, .rule_group_4, .rule_group_6, .rule_group_8, .rule_group_10 {
 background-color: #FBF7DA;
 border: #aaa 1px solid;
}

.rule_not {
 background-color: #CC0000;
}

.rule_not_title {
 color: white;
 font-size: 10pt;
 text-align: left;
}

.rule_box {
 background-color: #fff;
 border: #aaa 1px solid;
}

.rule_content {
 margin: 5px;
  border-bottom-style: none;
}

.rule_toolbar {
 padding: 0;
 text-align: right;
}

.rule_operation {
 font-size: 10pt;
 text-align: center;
 margin: 10px 0px;
}

/**************************/
/* PageIcons.py styles */
/**************************/
#tab_icon div input[type="text"] {
  width: 400px;
}

#file_new_file,
#suffix_new_file {
  width: 180px;
}

/**************************/
/* PageMime.py styles  */
/**************************/
#mimetable input[size="20"] {
  width: 100px;
}

#mimetable input[size="6"] {
  width: 40px;
}

#new_maxage {
  width: 60px;
}

#new_mime {
  width: 180px;
}

#new_extensions {
  width: 280px;
}

/**************************/
/* PageInfoSource.py styl */
/**************************/

#body-source #new_env_name {
  width: 210px;
}

#body-source #new_env_value {
}

/**************************/
/* PageNewConfig.py styl */
/**************************/

table#table_new_file {
 margin-top: 10px;
}

table#table_new_file td {
 width: 220px;
}

/*************************/
/* Graphs                */
/************************/
#grapharea {
  margin: 32px 0 16px 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #d4e1f1;
  background: #f9fcff;
  padding: 8px;
}

#grapharea img {
  border: 1px solid #d4e1f1;
}

#grapharea .gbutton {
  background: #f9fcff;
  padding: 2px 8px;
  margin: 2px 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #f9fcff;
  float: right;
  font-size: 80%;
}

#grapharea .gbutton a {
  text-decoration: none;
}

#grapharea a:hover {
 cursor: pointer;
}

#grapharea .gsel {
  background: #d4e1f1;
  border: 1px solid #d4e1f1;
}

#graphdiv {
 text-align: center;
 padding-top: 24px;
}

#gmenu {
 background: #f9fcff;
}

#gmenu ul .item { 
 display: none; 
}

#gmenu ul .item a { 
 text-decoration: none;
 display: block;
 padding: 4px 16px;
}

#gmenu ul .item a:hover { 
 background: #e5ebf4;
 cursor: pointer;
}

#gmenu ul:hover .item { 
 display:block; 
 border-left: 1px solid #d4e1f1;
 border-right: 1px solid #d4e1f1;
}

#gmenu ul:hover .last {
 border-bottom: 1px solid #d4e1f1;
}

#gmenu{
 position:absolute;
}

#gmtop { 
 color: #204a87;
 font-size: 120%;
}

#gmenu:hover #gmtop {
 border-bottom: 1px solid #d4e1f1;
}


#gmtop span {
 padding: 2px 8px 1px 1px;
 margin-right: 2px;
 background: #f9fcff;
 border: 1px solid #f9fcff;
 border-bottom: 0;
}

#gmtop span:before {
 content: "\25BA";
 padding-right: 2px;
 font-size: 90%;
}

#gmenu:hover #gmtop span:before {
 content: "\25BC";
}

#gmenu:hover #gmtop span {
 border: 1px solid #d4e1f1;
 border-bottom: 0;
}

#statusarea {
 border-radius: 4px;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 padding: 8px 8px 8px 64px;
 margin: 16px 0;
 height: 60px;
}

#statustitle {
 font-size: 90%;
 padding: 3px 0 0 0;
 margin: 0;
}

#statusmsg {
 padding: 0 8px 4px 0;
 margin: 0;
 font-size: 120%;
 font-weight: bold;
}

#infoarea {
 width: 422px;
 float: left;
 padding: 8px 24px 8px 0;
 border-right: 1px solid #d4e1f1;
}

.running {
 background: #e9ffd4 url(../images/online.png) 8px 8px no-repeat;
 border: 1px solid #73d216;
}

.notrunning {
 background: #fbf7da url(../images/offline.png) 8px 8px no-repeat;
 border: 1px solid #edd400;
}

#statusaction {
  background: #f9fcff;
  padding: 2px 8px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #d4e1f1;
  float: right;
}

#statusaction a {
  font-size: 11px;
  padding: 0;
  color: #7695bc;
  text-decoration: none;
}

#statusaction:hover a {
 cursor: pointer;
 color: #fff;
}

.running #statusaction:hover {
 color: #fff;
 background: #c00;
 border: 1px solid #c00;
}

.notrunning #statusaction:hover {
 color: #fff;
 background: #74d216;
 border: 1px solid #73d216;
}

#sidebararea {
 float: right;
 width: 224px;
 padding: 8px;
 font-size: 95%;
}

#sidebararea h2 {
 border-bottom: 1px solid #d4e1f1;
 padding-bottom: 4px;
 margin-bottom: 8px;
}

#feedback, #proud {
  margin: 8px 0 4px 0;
  padding: 8px;
}

#moreinfo {
 padding: 4px;
 border-radius: 4px;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 border: 1px solid #d4e1f1;
 background: #f9fcff;
}
#moreinfo h2 {
 padding: 2px 0;
}
#moreinfo td { background: #fff; padding: 4px 1px; border: 0; border-bottom: 1px solid #d4e1f1; }

#moreinfo .infolab { white-space: pre; width: 128px; text-align: right; padding-left: 8px;}

.optional {
	color: #ccc;
}

