/* theme.css
 */
body 
{
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Myriad, "Andale Sans", "Luxi Sans", "Bitstream Vera Sans", Tahoma, "Toga Sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  background: #fff url(/icons/default-bg.png) center center repeat-y;  
}

a
{ 
  text-decoration: none;
  font-size: small;
  font-weight: bold; 
  color: #cc0000;
}


table
{ 
  width: 500px;
  font-size: small;
  height: 100%;
}

thead td
{ 
  border-bottom: 1px solid #3465a4;
  padding: 0px;
  border-spacing: 0px;
}

table
{ 
  padding: 0px;
  border-spacing: 0px;
}

tbody td
{ 
  border-spacing: 1px;
  padding-top: 3px;
  padding-left: 1px;
}
