body {
 font-family:Lucida Grande,Myriad,Andale Sans,Luxi Sans,Bitstream Vera Sans,Tahoma,Toga Sans,Helvetica,Arial,sans-serif;
 font-size:10pt;
 color: #555;
}

/* Debug borders */
p, li, dt, dd, div, pre, h1, h2, h3, h4, h5, h6 {
/*
  border: 1px solid red;
*/
}

div.quoteblock > div.content {
  padding-left: 2.0em;
}

div.attribution {
  text-align: right;
}
div.verseblock + div.attribution {
  text-align: left;
}


div.verseblock div.content {
  white-space: pre;
}

/* Workarounds for IE6's broken and incomplete CSS2. */

div.sidebar-content {
  _background: f#fffee;
  border: 1px solid #ecede8;
  padding: 0.5em;
  color: #205cab;
}

div.sidebar-title, div.image-title {
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 0.0em;
  margin-bottom: 0.5em;
}

div.sectionbody div.imageblock div.image-title {
  text-align: center;
}

div.listingblock div.content {
  border: 1px solid silver;
  background: #f4f4f4;
}

div.quoteblock-content {
  padding-left: 2.0em;
}

div.exampleblock-content {
  border-left: 2px solid silver;
  padding-left: 0.5em;
}

/* IE6 sets dynamically generated links as visited. */
div#toc a:visited { color: blue; }

a {
  text-decoration: underline;
  color: #205cab;
}

a:visited {
  text-decoration: underline;
  color: #205cab;
}

em {
  font-style: italic;
  color: #205cab;
}

strong {
  font-weight: bold;
  color: #083194;
}

tt {
  color: #205cab;
}

h1, h2, h3, h4, h5, h6 {
  color: #527bbd;
  font-family: sans-serif;
  _margin-top: 1.2em;
  margin-bottom: 0.5em;
  line-height: 1.3;
}

h1, h2, h3 {
  border-bottom: 1px solid silver;
}

h3 {
  float: left;
}
h3 + * {
  clear: left;
}

div.sectionbody {
  margin-left: 0;
  text-align:justify;
}

hr {
  border: 1px solid silver;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul, ol, li > p {
  margin-top: 0;
}

pre {
  margin-left: 20px;
}

span#author {
  color: #527bbd;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}
span#email {
}
span#revision {
  font-family: sans-serif;
}

div#footer {
  font-family: Lucida Grande,Myriad,Andale Sans,Luxi Sans,Bitstream Vera Sans,Tahoma,Toga Sans,Helvetica,Arial,sans-serif;
  font-size: x-small;
  //border-top: 1px solid silver;
  //padding-top: 0.5em;
  margin-top: 2.0em;
}
div#footer-text {
  float: left;
  padding-bottom: 0.5em;
}
div#footer-badges {
  float: right;
  padding-bottom: 0.5em;
}

div#preamble,
div.imageblock, div.exampleblock, div.verseblock,
div.quoteblock, div.literalblock, div.listingblock, div.sidebarblock,
div.admonitionblock {
/*
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
*/
}

div.tableblock {
margin-left:auto; margin-right:auto;
margin-top: 1.5em;
margin-bottom: 1.5em;
text-align: center;
}

div.admonitionblock {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

div.content { /* Block element content. */
  padding: 0;
}

/* Block element titles. */
div.title, caption.title {
  color: #527bbd;
  font-weight: bold;
  text-align: left;
  margin-top: 1.0em;
  margin-bottom: 0.5em;
}
div.title + * {
  margin-top: 0;
}

td div.title:first-child {
  margin-top: 0.0em;
}
div.content div.title:first-child {
  margin-top: 0.0em;
}
div.content + div.title {
  margin-top: 0.0em;
}

div.sidebarblock > div.content {
  background: #ffffee;
  border: 1px solid silver;
  padding: 0.5em;
}

div.listingblock {
  margin-right: 0%;
}
div.listingblock > div.content {
  border: 1px solid silver;
  background: #f4f4f4;
}

div.quoteblock {
  padding-left: 2.0em;
}
div.quoteblock > div.attribution {
  padding-top: 0.5em;
  text-align: right;
}

div.verseblock {
  padding-left: 2.0em;
}
div.verseblock > div.content {
  white-space: pre;
}
div.verseblock > div.attribution {
  padding-top: 0.75em;
  text-align: left;
}
/* DEPRECATED: Pre version 8.2.7 verse style literal block. */
div.verseblock + div.attribution {
  text-align: left;
}

div.admonitionblock .icon {
  vertical-align: top;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline;
  color: #527bbd;
  padding-right: 0.5em;
}
div.admonitionblock td.content {
  padding-left: 0.5em;
  border-left: 2px solid silver;
}

div.exampleblock > div.content {
  border-left: 2px solid silver;
  padding: 0.5em;
}

div.imageblock div.content { text-align:center; padding-left: 0; //margin-left:100px; }
div.imageblock img { 
  border: 1px solid silver; 
  margin-top: 10px;
  margin-bottom: 10px;
}

span.image img { border-style: none; }

dl {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
dt {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-style: normal;
}
dd > *:first-child {
  margin-top: 0.1em;
}

ul, ol {
    list-style-position: outside;
}
div.olist > ol {
  list-style-type: decimal;
}

.olist a {
  text-decoration: none;
  color: #205cab;
}

div.olist2 > ol {
  list-style-type: lower-alpha;
}

div.tableblock > table {
  border: 1px solid #527bbd;
  width: 569px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

thead {
  font-family: sans-serif;
  font-weight: bold;
}
tfoot {
  font-weight: bold;
}

div.hlist {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
div.hlist td {
  padding-bottom: 15px;
}
td.hlist1 {
  vertical-align: top;
  font-style: normal;
  padding-right: 0.8em;
}
td.hlist2 {
  vertical-align: top;
}

@media print {
  div#footer-badges { display: none; }
}

div#toctitle {
  color: #527bbd;
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1.0em;
  margin-bottom: 0.1em;
}

div.toclevel1, div.toclevel2, div.toclevel3, div.toclevel4 {
  margin-top: 0;
  margin-bottom: 0;
}
div.toclevel2 {
  margin-left: 2em;
  font-size: 0.9em;
}
div.toclevel3 {
  margin-left: 4em;
  font-size: 0.9em;
}
div.toclevel4 {
  margin-left: 6em;
  font-size: 0.9em;
}


/*Left and right blocks for TOC and text */
#wrapper {
  width:100%;
  float:left;
  margin-right: -200px;
}
#page_content {
  margin-right: 210px;
}
#page_nav {
  font-size: 0.8em;
  width:200px;
  float:left;
  background:#f6f6f6;
}


/* Cherokee 0.11: New looks */
.sidebar-content .vlist dl dd {
    display: block;
    background-color: #f3f3f3;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: monospace;
    color: #91928d;
    font-size: 9pt;
}

.sidebar-content .vlist dd .hlist .hlist1 {
    padding-bottom: 0px;
}

.sidebar-content .vlist dd .hlist .hlist2 {
    padding-bottom: 0px;
}

.sidebar-content .vlist dl dd .vlist dl dd {
    padding-top: 0px;
    padding-bottom: 0px;
}

.sidebar-content .vlist dl dt {
    padding-top: 5px;
}

.sidebar-content .para {
    font-style: italic;
    font-weight: bold;
}

.sidebar-content .para a {
    font-style: normal;
    text-decoration: none;
}

h2 a {
    font-style: italic;
}

h2 {
    color: #205cab;
    width: 100%;
    margin-left: -20px;
    margin-right: auto;
    border: 1px solid #ecede8;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #5e5e5c;
    font-size: 16pt;
    font-weight: bold;
    letter-spacing: -1px;
}

.sectionbody .ilist li p ,
.sectionbody .olist li p {
    line-height:140%;
    margin:0;
    text-decoration: none;
}

#main {
    font-size:10pt;
}

