
body {
    font-family: Georgia, serif;
    font-size: 13px;
}

h1, h2 {
    color: #c00;
}

a:link, a:visited, a:active {
    color: #c00;
}

span.pre {
    color: #c00;
}

pre.literal-block, pre.doctest-block {
    background: #eee;
    border: 1px solid #a1a1a1;
    padding: .5em;
}

dt {
    font-weight: bold;
}

table.docutils thead th {
    border-bottom: 2px solid #dfdfdf;
    text-align: left;
}

table.docutils th, table.docutils td {
    border-bottom: 1px solid #dfdfdf;
    font-size: 13px;
    padding: 4px 2px;
}

h1 {
  text-align: center;
  font-size: 35px;
  color: #900;
}

.section h1 {
  text-align: left;
  font-size: 22px;
  color: #c00;
}

